body{
    font-family: sans-serif, Arial, Helvetica;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 20px;
}
.card{
    border-radius: 8px;
    border-color: white;
    padding: 20px;
}
.card-2{
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.card-3{
    box-shadow: 0 0 5px 2px gray;
}
.card-4 {
    box-shadow: 
        inset 0 0 5px 5px rgba(0, 0, 0, 0.2), 
        0 0 5px 5px rgba(0, 0, 0, 0.1); 
}
.card-5{
    box-shadow: 0 0 20px 3px black;
}
.card-6{
    box-shadow: 0 0 5px 2px rgb(255, 99, 99);
}